@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1E1E1E;

    font-family: "Raleway";

    padding-bottom: 30px;
}

header {
    padding: 40px;
    margin-bottom: -40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title img {
    margin-top: 0px;
    margin-bottom: 10px;
}

#title p {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: white;


}

form {
    display: flex;
    flex-direction: column;

    max-width: 600px;

    padding-top: 40px;
}

.form-input{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

label {

    color: white;
    text-align: right;

    margin-top: 20px;
}

input {
    width: 500px;
    height: 45px;

    font-size: 15px;

    padding-left: 20px;
    margin-top: 5px;

    border-radius: 10px;
    border: 0px;
}

input:focus {
    box-shadow: 0;
    outline: 0;
}

button {
    background: #0C70F2;

    margin-top: 30px;
    margin-bottom: 5px;

    width: 525px;
    height: 48px;

    font-weight: 800;
    font-size: 18px;
    color: white;

    border-radius: 6px;
    border: 0px;

    cursor: pointer;
}

.form-input small{
    font-family: 'Raleway';
    font-size: 12px;

    visibility: hidden;

}

.form-input.sucess small{
    font-family: 'Raleway';
    font-size: 12px;
    color: #0F7B0F;

    visibility: visible;
}

.form-input.error small{
    font-family: 'Raleway';
    font-size: 12px;
    color: #E73550;

    visibility: visible;
}

.small-text.errorForm{
    
    font-family: 'Raleway';
    font-size: 12px;
    color: #E73550;

    visibility: visible;
}

.small-text.sucessForm{
    font-family: 'Raleway';
    font-size: 12px;
    color: #0F7B0F;

    visibility: visible;

}

.small-text{
    font-family: 'Raleway';
    font-size: 12px;

    visibility: hidden;
}
